<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} %-5level %logger{20} - %msg%n</pattern>
    </encoder>
  </appender>
  <!-- Root level is overridden programmatically from the driver log level argument -->
  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
